<%= form_for @rating, :html => { :class => "form-horizontal rating" } do |f| %>

  <% if @rating.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @rating.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :Name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :Name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:Name) %>
  </div>
  <div class="form-group">
    <%= f.label :Rating, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :Rating, :class => 'form-control' %>
    </div>
    <%=f.error_span(:Rating) %>
  </div>
  <div class="form-group">
    <%= f.label :Comment, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :Comment, :class => 'form-control' %>
    </div>
    <%=f.error_span(:Comment) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                ratings_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
