<div id='map-all-orgs'></div>

<div class="sidebar-all-orgs">
  <form id='form-org-search'>
    <input type="text" placeholder="Organization Name..." id='searchbox-org-name'><br>
    <div><input type="button" value="Search" id='btn-org-search'></div>
    <div><input type="button" value="Clear" id='btn-org-clear'></div>
  </form>
  <table id='tbl-org-type-switch'>
    <tr><td>Education</td>
        <td><label class="switch"><input type="checkbox" id='swith-edu' checked><div class="slider"></div></label></td>
        <td>Community</td>
        <td><label class="switch"><input type="checkbox" id='swith-com' checked><div class="slider"></div></label></td></tr>
    <tr><td>Performing Arts</td>
        <td><label class="switch"><input type="checkbox" id='swith-per' checked><div class="slider"></div></label></td>
        <td>Support & Advocacy</td>
        <td><label class="switch"><input type="checkbox" id='swith-sup' checked><div class="slider"></div></label></td></tr>
    <tr><td>Museums</td>
        <td><label class="switch"><input type="checkbox" id='swith-mus' checked><div class="slider"></div></label></td>
        <td>Broadcast</td>
        <td><label class="switch"><input type="checkbox" id='swith-bro' checked><div class="slider"></div></label></td></tr>
  </table>
  <table id='tbl-org-searched'>
  </table>
  <table id='tbl-allorg'>
    <% @organizations.each do |organization| %>
      <tr id='row-<%= organization.id %>'>
        <td><%= organization.name %></td>
        <td><a href= '<%= organization_path(organization) %>' id='<%= organization.id %>'>More...</a></td>
      </tr>
    <% end %>
  </table>
</div>
<%= render :partial => 'legend' %>
