<h3>Listing organizations</h3>

<table id='tbl-allorg'>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Budget Size</th>
    <th>Discipline</th>
    <th>Add Comment</th>
  </tr>

  <% @organizations.each do |organization| %>
    <tr>
      <td><%= organization.id %></td>
      <td><%= organization.name %></td>
      <td><%= organization.size %></td>
      <td><%= organization.org_type %></td>
      <td><a href= '<%= organization_path(organization) %>' id='<%= organization.id %>'>More...</a></td>
    </tr>
  <% end %>
</table>
