<h1>Listing organizations</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Budget Size</th>
    <th>Discipline</th>
    <th>Add Comment</th>
  </tr>

  <% @organizations.each do |organization| %>
    <tr>
      <td><%= organization.id %></td>
      <td><%= organization.name %></td>
      <td><%= organization.size %></td>
      <td><%= organization.org_type %></td>
      <td><%= link_to "Add Comments", new_rating_path %></td>
    </tr>
  <% end %>
</table>
