<div>
  <h2><%= @organization.name %></h2>
</div>
<div>
  <table id='tbl-oneorg'>
    <tr>
      <td>Address</td>
      <td><%= @organization.address + ", " + @organization.city + ", " + @organization.state + "" + @organization.zip.to_s %></td>
    </tr>
    <tr>
      <td>Budget</td>
      <td><%= @organization.size %></td>
    </tr>
    <tr>
      <td>Type</td>
      <td><%= @organization.org_type %></td>
    </tr>
  </table>
</div>
<div>
  <table id='tbl-oneorgrating'>
    <tr><td class='tbl-rating-colname'>Average Score:</td></tr>
    <tr><td><%= @average %></td></tr>
    <tr><td class='tbl-rating-colname'>Most recent comment:</td>
    <tr><td><%= @comment %></td></tr>
  </table>
</div>
<div>
  <h4>Restaurants near this organization</h4>
  <p id='yelp-restaurants'><%= @restaurants %></p>
</div>
<div>
  <%= link_to 'Back',
              organizations_path,
              :class => 'btn btn-default' %>
  <%= link_to 'Comment',
              new_organization_rating_path(@organization),
              :class => 'btn btn-primary' %>
</div>
